doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/scripts/bootstrap/dist/css/bootstrap.min.css', type='text/css')
  body
    div.container
      h1= message
      div.col
        img(src= imgurl)
      a(class="btn btn-seconday", href="/") Go Back